body, html {
    height: 100%;
}               

body {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  text-align: center;
  
}
     
h1 {
  text-shadow: 3px 2px rgb(10, 238, 238);
}

h2 {
  text-shadow: 3px 2px rgb(255, 196, 0);
  
}

#result {
  box-sizing: border-box;
  border: 5px;
  background: white;
}
  .container {
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
    clear: both;

}


#endAddress{
  height:50px;
  color:black;
}
#startAddress{
  height:50px;
  color:black;
}

#map {
  height:500px;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
